[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psutil = "*"
pandas = "*"
pytest-cov = "*"

[dev-packages]
ipython = "*"
black = "*"
pipenv-setup = "*"
recommonmark = "*"
sphinx = "*"
twine = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
