[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
asn1crypto = "*"
atomicwrites = "*"
attrs = "*"
backcall = "*"
beautifulsoup4 = "*"
bs4 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
clickclick = "*"
connexion = "*"
cryptography = "*"
cssselect = "*"
decorator = "*"
fake-useragent = "*"
greenlet = "*"
idna = "*"
inflection = "*"
ipython = "*"
jedi = "*"
jsonschema = "*"
lxml = "*"
more-itertools = "*"
msgpack = "*"
neovim = "*"
openapi-spec-validator = "*"
parse = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pluggy = "*"
prompt-toolkit = "*"
psutil = "*"
ptyprocess = "*"
py = "*"
pycparser = "*"
pyee = "*"
pynvim = "*"
pyppeteer = "*"
pyquery = "*"
pytest = "*"
requests = "*"
requests-html = "*"
six = "*"
soupsieve = "*"
spotipy = "*"
swagger-ui-bundle = "*"
tqdm = "*"
traitlets = "*"
urllib3 = "*"
w3lib = "*"
wcwidth = "*"
websockets = "*"
white = "*"
ipython_genutils = "*"
Pygments = "*"
pyOpenSSL = "*"
PySocks = "*"
PyYAML = "*"
user_agent = "*"

[dev-packages]

[requires]
python_version = "3.7"
