appdirs==1.4.3
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
cffi==1.12.0
chardet==3.0.4
clickclick==1.2.2
connexion==2.2.0
cryptography==2.5
cssselect==1.0.3
decorator==4.3.2
fake-useragent==0.1.11
greenlet==0.4.15
idna==2.8
inflection==0.3.1
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
jsonschema==2.6.0
lxml==4.3.1
more-itertools==4.3.0
msgpack==0.6.1
neovim==0.3.1
openapi-spec-validator==0.2.4
parse==1.11.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.8.1
prompt-toolkit==2.0.8
psutil==5.5.1
ptyprocess==0.6.0
py==1.7.0
-e git+git@github.com:thinkjrs/pycm@821d0a6ba11d1537b2dc3a8fb2f6e2d341a785b3#egg=pycm
pycparser==2.19
pyee==5.0.0
Pygments==2.3.1
pynvim==0.3.2
pyOpenSSL==19.0.0
pyppeteer==0.0.25
pyquery==1.4.0
PySocks==1.6.8
pytest==4.2.1
PyYAML==3.13
requests==2.21.0
requests-html==0.9.0
six==1.12.0
soupsieve==1.7.3
spotipy==2.4.4
swagger-ui-bundle==0.0.3
tqdm==4.31.1
traitlets==4.3.2
urllib3==1.24.1
user-agent==0.1.9
w3lib==1.20.0
wcwidth==0.1.7
websockets==7.0
white==0.1.2
